.elementDescription {
    font-family: 'Georgia', sans-serif;
    padding-top: 20px;
}

.elementPeriodTime {
    font-family: 'Georgia', sans-serif;
}

.elementName {
    font-family: 'Oswald', sans-serif;
}