.tableStyle {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.filtersDate {
    width: 130px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 1.25rem;
}

.filtersText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.dropdown-item {
    font-size: 1.25rem;
}

.filtersToggleButton {
    font-size: 1.25rem;
    width: 147px !important;
}

.filtersButton {
    font-size: 1.25rem;
    margin-left: 10px;
}