.cont {
  height: 100vh;
  width: 100vw;
  background-image: url('/background.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  margin: 0;
  padding: 0;
}

.mainTitle {
  font-family: 'Oswald', sans-serif;
}

.mainText {
  font-family: 'Georgia', sans-serif;
  font-size: 1.1rem;
}