.editDescription {
    height: 300px;
}

.editFormLabel {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

.editFormInput {
    font-family: 'Georgia', sans-serif;
}

.editSubmitButton {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

.editStatus {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}

.editImg {
    width: 200px;
}

.editFileInput {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}

.elementAddEditAttributes {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
}

.elementAddEditAttributesButton {
    font-family: 'Oswald', sans-serif;
}

.elementAttributeNameValue {
    font-family: 'Georgia', sans-serif;
    margin-right: 5px;
}